.DS_Store
.Rproj.user
.Rhistory
.Ruserdata

*.RData
*.Rproj
*.o
*.so
*.dll

*.zip
*.eps

source/old
SimulationStudy
SimulationStudy/Hong
RealDataAnalysis/HiperGator
RealDataAnalysis/DATA
RealDataAnalysis/HIDE
RealDataAnalysis/SOURCE